    .member-img {width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid var(--accent);
      margin-bottom: 1rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
